<ion-content>
    <div class="img-container">
      <div class="img">
        <img src="../../assets/intro.jpg">
      </div>
    </div>
    <div class="container">
      <div class="ion-text-center">
        <ion-text color="light">
          <h1>Bienvenido a EWL</h1>
          <p>
            Estás a un paso de hacer tus envios mas fáciles, corre a registrarte
          </p>
          <ion-button (click)="start()" fill="outline" color="light">
            Empezar
            
          </ion-button>
        </ion-text>
      </div>
    </div>
</ion-content>