<menu-toolbar name="EWL CR"></menu-toolbar>

<ion-content [fullscreen]="true">
  <div class="tracking">
    <div class="containerText">
      <div class="heading">
        <h1>Tracking</h1>
      </div>
      <div class="texto">
        <p>Escribe el número de tracking</p>
      </div>
    </div>
    <div class="buscador">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-searchbar mode="ios" [(ngModel)]="tracking" animated="true" placeholder="#Tracking"></ion-searchbar>
          </ion-col>
          <ion-col size="2">
            <ion-button (click)="openTrackingModal()">
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="content">
    <div class="servicios">
      <div class="heading">
        <h5>Nuestros Servicios</h5>
      </div>
      <div class="slides">
        <ion-slides mode="ios" [options]="slidesOpts">
          <ion-slide *ngFor="let service of services" (click)="goTo(service.link)">
            <ion-card>
              <div class="ion-text-center">
                <ion-button fill="clear">
                  <ion-icon slot="icon-only" [name]="service.icon"></ion-icon>
                </ion-button>
              </div>
              <ion-card-content>
                <p>{{service.text}}</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div class="recientes">
      <div class="heading">
        <h5>Envios no Entregados ({{Recents?.length}})</h5>
      </div>
      <div class="recentSlides">
        <ion-slides mode="ios" [options]="slidesTrack">
          <ion-slide *ngFor="let recent of Recents" (click)="goTracking(recent.tracking)">
            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="ion-text-start">
                    <ion-item lines="none" class="paquete_data">
                      <ion-icon slot="start" name="cube-outline"></ion-icon>
                      <ion-label>{{recent.razon_social}}</ion-label>
                      <ion-badge color="secondary">{{recent.estatus}}</ion-badge>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <p class="ion-text-start title">{{recent.ultima_actualizacion}}</p>
                    <p class="ion-text-start note">Ultima actualización</p>
                  </ion-col>
                  <ion-col size="6">
                    <p class="ion-text-start title">#{{recent.tracking}}</p>
                    <p class="ion-text-start note">Nro de Tracking</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-start">
                    <ion-item lines="none" class="paquete_data">
                      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                      <ion-label>{{recent.destinatario}}</ion-label>
                      <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>
</ion-content>
